*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #00A5CC;
}

li{
    list-style-type: none;
}

header{
    width: 100%;
    height: 50px;
    margin: auto;
    border-bottom: 1px solid #EEEEEE;
}

#brand{
    float: left;
    line-height: 50px;
    color: #E5DAC0;
    font-size: 25px;
    font-weight: bolder;
}

nav{
    width: 100%;
    text-align: center;
}

nav a{
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #535353;
}

nav a:hover{
    background: #CFC8C8;
    color: #000;
}
nav li:last-child a{
    border-bottom: none;
}
/*-------------------------*/
.menu{
    width: 240px;
    height: 100%;
    position: absolute;
    background: #CB4943;
    left: -240px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu-icon{
    padding: 10px 20px;
    background: #CB4943;
    color: #00A5CC;
    cursor: pointer;
    float: right;
    margin-top: 4px;
    border-radius: 5px;
}

#menuToggle{
    display: none;
}
#menuToggle:checked ~ .menu{
    position: absolute;
    left: 0;
}
#banner{
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 100px;
    background: #707070;
}