*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #00A5CC;
}
li{
    list-style-type: none;
}

header{
    width: 100%;
    height: 50px;
    margin: auto;
    border-bottom: 1px solid #EEEEEE;
}